body {
    background-image: url('https://www.w3schools.com/w3images/forestbridge.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

p { 
    color: aliceblue;
    font-size: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.889);
    padding: 20px; 
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px;
}

body h1 {
    color: white; 
    margin-top: 20px;
    padding: 10px;
    text-align: center;
}

.navbar-custom {
    background-color: forestgreen;
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    color: rgb(8, 8, 8);
} 

.container {
    padding: 20px;
}

.contact-form {
    max-width: 300px; 
    margin: 0 auto; 
    color: white;
}